#banner {
  position: relative;
  background: #0031ff;
  z-index: 1;
  @include center-all;
  width: 100vw;
  @media(max-width:991px){
    min-height: 100vh;
  }
  video {
    opacity: 0.4;
    z-index: -3;
    position: absolute;
  }
  .headline {
    font-size: 45px;
    font-weight: 500;
    line-height: 1;
    @media(max-width:768px){
      font-size: 25px;
    }
  }
  p {
    color: #fff;
  }
  h2 {
    font-weight: bold;
    font-size: 125px;
    line-height: 1;
    color: #fff;
    text-align: center;
    margin-bottom: 65px;
    @media(max-width:1400px){
      font-size: 85px;
      margin-bottom: 22px;
    }
    @media(max-width:768px){
      font-size: 60px;
    }
    @media(max-width:480px){
      font-size: 46px;
    }
  }
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(media/images/banner-texture.svg);
    opacity: 0.3;
    z-index: -1;
  }
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 51, 255, 0.4);
    mix-blend-mode: color;
    z-index: -2;
  }
  .copy,
  .scroll-text {
    position: absolute;
    bottom: 35px;
    z-index: 2;
    font-size: 18px;
    margin-bottom: 0;
    @media(max-width:1400px){
      bottom: 20px;
    }
    @media(max-width:768px){
      font-size: 15px;
    }
  }
  .scroll-text {
    right: 0px;
    svg {
      margin-left: 12px;
      path {
        stroke-dasharray: 130;
        // animation: lineAnimation 2.5s infinite linear;
        @keyframes lineAnimation {
          to {
            stroke-dashoffset: -1000;
          }
        }
      }
    }
    @media(max-width:768px){
      transform: rotate(90deg) translate(-92px, -123px);
    }
  }
  .copy {
    left: 45px;
    @media(max-width:480px){
      left: 20px;
      right: 39px;
    }
  }

  .center-all{
    @media(max-width:768px){
      
    }
    @media(max-width:578px){
      flex-direction: column;
      .al-btn{
        margin-bottom: 20px;
        margin-right: 0px !important;
      }
    }
  }
}

.banner_container{
  @media(max-width:1400px) and (min-width:768px){
    margin-top: -55px; 
  }
  @media(max-width:768px){
    margin-top: -30px;
  }
}

#nosotros {
  .about-group-img {
    display: grid;
    // gap: 25px;
    // height: calc(100vh - 175px);
    grid-template-rows: 50% 50%;
    .about-img{
      height: calc(50vh - 100px);
    }
    > div{
      .about-img{
        top: 60px;
        @media(max-width:1400px){
          top: 40px;
        }
      }
      &:nth-child(2){
        .about-img{
          top: -60px;
          @media(max-width:1400px){
            top: -40px;
          }
        }
      }
    }
  }
  p {
    font-size: 20px;
    @media(max-width: 1400px){
      font-size: 18px;
    }
  }
}

#servicios {
  display: flex;
  padding-right: 12vw;
  @media(max-width:768px){
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 120px;
  }
  h5 {
    writing-mode: vertical-lr;
    font-size: 120px;
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    margin: 0 100px 0 0;
    height: 100%;
    @media(max-width:768px){
      writing-mode: horizontal-tb;
      font-size: 48px;
      margin: 0;
      height: auto;
      align-items: center;
      flex-direction: inherit;
    }
    span {
      display: block;
      text-transform: uppercase;
      &:last-child {
        margin-top: auto;
      }
    }
  }
  .services-list {
    display: flex;
    gap: 38px;
    @media(max-width:768px){
      flex-direction: column;
    }  
  }
}

#contacto {
  min-width: initial;
  width: 1100px;
  background: $blue;
  position: relative;
  @media(max-width:991px){
    width: 100%;
    padding-bottom: 180px;
  }
  h4 {
    writing-mode: vertical-lr;
    font-size: 120px;
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    margin: 0 100px 0 0;
    left: 0;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -45%);
    @media(max-width:768px){
      writing-mode: horizontal-tb;
      font-size: 48px;
      margin: 0;
      height: auto;
      align-items: center;
      left: 50%;
      top: 0%;
      position: absolute;
      transform: translate(-50%, -65%);
    }
  }
  .container {
    max-width: 500px;
  }
}
